CompileFlags:
  Add: ["-g", "-std=c++2b", "-Wall", "--include-directory", "C:/Users/Bruger/Skrivebord/programming/graphical_demo/imgui", "--include-directory", "C:/Users/Bruger/Skrivebord/programming/graphical_demo/sdl/include", "main.cpp", "imgui/imgui_draw.cpp", "imgui/imgui_tables.cpp", "imgui/imgui_widgets.cpp", "imgui/imgui.cpp", "imgui/backends/imgui_impl_sdl2.cpp", "imgui/backends/imgui_impl_opengl3.cpp",]
---
Index:
  Background: Build